<% layout(layout_directory+'/mainLayout') -%>

<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-start mb-0"><%= page_title %></h2>
                        <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/hobby/list">Hobby Category</a>
                                </li>
                                <li class="breadcrumb-item active"> <%= page_title %>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <!-- <div class="card-header border-bottom">
                            <h4 class="card-title"></h4>
                        </div> -->
                        <div class="card-body py-2">
                            <!-- form -->
                            <form class="edit-faq-modal-form modal-content pt-0" id="faqEditFormValidation" action="<%= generateUrl('faq.update') %>" method="POST" enctype='multipart/form-data'>
                                <div class="modal-header mb-1">
                                  <h5 class="modal-title" id="exampleModalLabel">Edit FAQ</h5>
                                </div>
                                <div class="modal-body flex-grow-1">
                                  <div class="mb-1">
                                    <label class="form-label" for="basic-icon-default-fullname">Question</label><span
                                    style="color: red;">*</span>
                                    <input type="text" class="form-control dt-full-name" id="faq-edit-question" placeholder="Question" value="<%=response.question%>" name="question" />
                                  </div>
                                  <div class="mb-1">
                                    <label for="basic-icon-default-bio">Answer</label><span
                                    style="color: red;">*</span>
                                    <textarea class="form-control char-textarea" name="answer" id="faq-edit-answer" placeholder="Answer" rows="3" data-length="30"><%=response.answer%></textarea>
                                    <small class="textarea-counter-value float-end"><span class="char-count">0</span> / 30 </small>
                                  </div>
                                  <input type="hidden" value="<%=response._id%>" name="id" id="faq-edit-id">
                                  <button type="submit" class="btn btn-primary me-1 data-submit">Submit</button>
                                  <!-- <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button> -->
                                  <a class="btn btn-outline-secondary"  href="/faq/list">Cancel</a>
                                </div>
                              </form>
                            <!--/ form -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<style>
    .ql-editor {
        height: 150px;
    }
</style>