<% layout(layout_directory+'/mainLayout') -%>

<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-start mb-0">User Add</h2>
                        <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb">
                                
                                <li class="breadcrumb-item"><a href="<%= generateUrl('admin.category.listing')%>">Category</a>
                                </li>
                                <li class="breadcrumb-item active"> <%= page_title %>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <div class="row">
                <div class="col-12">
                  

                    <div class="card">
                        <!-- <div class="card-header border-bottom">
                            <h4 class="card-title"></h4>
                        </div> -->


                        <div class="card-body py-2">
                            <!-- form -->
                            <form class="add-new-deal modal-content pt-0" id="add-new-category" action="<%= generateUrl('category.insert') %>" method="POST" enctype='multipart/form-data'>
                              
                                <div class="modal-header mb-1">
                                    <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
                                </div>
                                <div class="modal-body flex-grow-1">
                                    
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label class="form-label" for="basic-icon-default-deal-title">Category Title</label><span
                                            style="color: red;">*</span>
                                            <input type="text" class="form-control dt-deal-title" id="title" placeholder="Category Title" name="title" />
                                        </div>
                                    </div>
                                    <br>
                                    <div class="category-dropdown col-lg-6">
                                        <label class="form-label asterisk" for="serviceId">Parent Category</label><span style="color: red;">*</span>
                                        <select name="parentId" id="parentId" class="form-control">
                                            <option value="" selected disabled>Select Parent Category</option>
                                            <% category.map(e => { %>
                                                <option value="<%= e._id %>"><%= e.title %></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                    <br>
                                

                                
                                  
                                    <div class="d-flex">
                                        
                                        <a href="/uploads/noImage.png" target="_blank" class="me-25">
                                            <img src="/uploads/noImage.png" id="user-upload-img" class="uploadedAvatarUser rounded me-50" alt="profile image" style="max-width: 100px; max-height: 100px;" />
                                        </a>
                                        
                                        <!-- upload and reset button -->
                                        <div class="d-flex align-items-end mt-75 ms-1">
                                            <div>
                                                <label for="user-upload" class="btn btn-sm btn-primary mb-75 me-75">Upload</label>
                                            <div class="d-flex">

                                                <input type="file" name="image" id="user-upload" hidden accept="image/*" />
                                                </div>
                                                <button type="button" id="user-reset" class="btn btn-sm btn-outline-secondary mb-75 d-none">Reset</button>
                                                <p class="mb-0">Upload Category Icon.</p>
                                            </div>
                                        </div>
                                        <!--/ upload and reset button -->
                                    </div>
                        
                                </div>
                                 <br>

                                    <div class="d-flex">
                                        <button type="submit" class="btn btn-primary me-1 data-submit">Submit</button>
                                        <!-- <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button> -->
                                        <a class="btn btn-outline-secondary"  href="<%= generateUrl('admin.category.listing')%>">Cancel</a>
                                    </div>

                                </div>
                            </form>
                               
                            <!--/ form -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    
</div>

<script>
   let userUploadImg = $('#user-upload-img'),
        userUploadBtn = $('#user-upload'),
        userUserImage = $('.uploadedAvatarUser'),
        userResetBtn = $('#user-reset');
        if (userUserImage) {

        let resetImage = userUserImage.attr('src');
        userUploadBtn.on('change', function (e) {
            let reader = new FileReader(),
                files = e.target.files;
            reader.onload = function () {
                if (userUploadImg) {
                    userUploadImg.attr('src', reader.result);
                }
            };
            reader.readAsDataURL(files[0]);
            userResetBtn.removeClass("d-none");
        });

        userResetBtn.on('click', function () {
            userUserImage.attr('src', resetImage);
            $('#user-upload').val('');
            userResetBtn.addClass("d-none");
            return false;
        });
    }
  </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Get the date input field
            var dobInput = document.getElementById('basic-icon-default-dob');

            // Calculate the minimum date allowed (18 years ago from current date)
            var currentDate = new Date();
            var minDate = new Date(currentDate.getFullYear() - 18, currentDate.getMonth(), currentDate.getDate());

            // Format the minimum date as a string
            var minDateString = minDate.toISOString().split('T')[0];

            // Set the minimum allowed date for the input field
            dobInput.setAttribute('max', minDateString);
        });
    </script>

<script>
    $("#basic-icon-default-dob").keydown((e)=>{
        e.preventDefault();
    })
</script>

