<% layout(layout_directory+'/mainLayout') -%>
<!-- BEGIN: Content-->
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <div class="view_wrapper_header">
                <h4></h4>
                <!-- <button>Back</button> -->
                <a href="<%= generateUrl('admin.user.listing') %>">Back</a>
            </div>
            <!-- users list start -->
            <section class="app-user-list">
                
                <!-- list and filter start -->
                <div class="card">
                    <!-- <div class="card-body border-bottom">
                        <h4 class="card-title"><%= page_title %></h4>
                        <div class="row">
                            <div class="col-md-4 user_status">
                                <select id="StatusDropdown" class="form-select text-capitalize mb-md-0 mb-2xx cursor-pointer">
                                    <option value=""> View All Status </option>
                                    <option value="Unblock" <%= status && status=='Unblock'?'selected':'' %>> Unblock </option>
                                    <option value="Block" <%= status && status=='Block'?'selected':'' %>> Block </option>
                                </select>
                            </div>
                        </div>
                    </div> -->
                    <div class="card-datatable table-responsive pt-0">
                        <table class="user-list-table table">
                            <thead class="table-light">
                                <tr>
                                    <th></th>
                                    <th>Date</th>
                                    <th>Name</th>
                                    <th>Car Name</th>
                                    <th>Booking Status</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <!-- list and filter end -->
            </section>
            <!-- users list ends -->
            <input type="hidden" disabled readonly id="user_id" name="user_id" value="<%=user_id%>">

        </div>
    </div>
</div>
<!-- END: Content-->

<!-- BEGIN: Datatable JS-->
<script src="/js/datatables/app-user-booking-list.js"></script>
<!-- END: Datatable JS-->

<script>
    function previewImage() {
        userImg1.src = URL.createObjectURL(event.target.files[0]);
        userImg.src = URL.createObjectURL(event.target.files[0]);
    }
  </script>

<style>
    .ql-editor {
        height: 150px;
    }
    .view_wrapper_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  /* border-bottom: 1px solid #9ACE00; */
  }
  
  .view_wrapper_header h4 {
  font-size: 18px;
  margin: 0;
  color: #2f2f2f;
  }
  
  .view_wrapper_header button {
  background: #9ACE00;
  border: none;
  padding: 20px 30px;
  line-height: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #9ACE00;
  }
  
  .view_wrapper_header button:hover {
  background: #fff;
  border: 1px solid #9ACE00;
  color: #9ACE00;
  }
  
  .view_wrapper_header a {
  background: #9ACE00;
  border: none;
  padding: 20px 30px;
  line-height: 0;
  border-radius: 5px;
  color: #fff !important;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #9ACE00;
  }
  
  .view_wrapper_header a:hover {
  background: #9c3030;
  border: 1px solid #9ACE00;
  color: black !important;
  }
  
  .view_wrapper_body { 
  padding: 20px 0;
  }
  
  .view_wrapper_box {
  box-shadow: 0 0 5px 0 #ccc;
  padding: 10px 10px;
  margin: 0 0 15px;
  }
  
  .view_wrapper_box label {
  font-size: 14px;
  color: #d1d1d1;
  text-transform: capitalize;
  margin: 0 0 10px;
  }
  
  .view_wrapper_box p {
  font-size: 16px;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-left: 2px solid #9ACE00;;
  }
  </style>

<script>
    document.getElementById('account-reset').addEventListener('click', function() {
        var input = document.getElementById('account-upload');
        input.value = ''; // Clear the selected file
    });
</script>