<div class="">
    <div class="">Hello <%= name %>,</div>
    <div class=""><p>Thanks for joining <%= project_name %>, we are excited to have you on board!</p></div>
    <div class=""><p>Your Email : <strong><%= email %></strong></p></div>
    <div class=""><p>Password : <strong><%= password %></strong></p></div>
    <div class=""><p><i>Note: Please change your password for security purposes</i></p></div>
    <div class=""><p>Thank You,</p></div>
    <div class=""><%= project_name %></div>
</div>